In [18]:
# 전처리 사용
import pandas as pd

In [10]:
import numpy as np

In [15]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A':[1,2,np.nan,4,5],
                   'B':[6,7,8,np.nan,10],
                   'C':[11,12,13,np.nan,np.nan]})

In [16]:
df

     A     B     C
0  1.0   6.0  11.0
1  2.0   7.0  12.0
2  NaN   8.0  13.0
3  4.0   NaN   NaN
4  5.0  10.0   NaN

In [17]:
pd.isna(df).sum()

A    1
B    1
C    2
dtype: int64

In [24]:
df.fillna(df.mean(),inplace = True)
#df_mean = df.fillna(df.mean())
print(df)
#print(df_mean)

     A      B     C
0  1.0   6.00  11.0
1  2.0   7.00  12.0
2  3.0   8.00  13.0
3  4.0   7.75  12.0
4  5.0  10.00  12.0